extends templates/layout

block main
  main(data-barba="container" data-barba-namespace="about")
      - var backgroundImage = featuredImage.fields.file.url
      - var image1 = image1.fields.file.url
      .project-page-container
        section.work-section
          img#project-background-image(src=backgroundImage)
          .text-block-center(style="max-width: 650px").animate-this
            .big-title-text-container
              h2.big-title-text #{title}
            p.smaller-standard-text(style="text-align: center") #{content}
            .link-container
              //- p.link-text Take a look at this website repository

        section.body-section
          .body-section-part.animate-this
            .body-section-text-container(style="align-items: center").animate-this
                p.body-section-title #{sub1}
                p.body-section-text(style="text-align: center") #{text1}
            .project-image-container
              .child-project-image-container
                img.left-side-image(src=image1)
          
          .body-section-part.animate-this
            .body-section-text-container(style="align-items: center").animate-this
                p.body-section-title #{sub2}
                p.body-section-text(style="text-align: center") #{text2}
      
        

        

  
        